$colorz:(
        color1:#ffffff,
        color2:#000000,
);

$font1:(  'Assistant', sans-serif
);

$font2:( 'Yantramanav', sans-serif
);

$shadow:(
        0 4px 8px 0 rgba(1, 1, 1, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
);

.centerPlacement
{
  display: flex;
  justify-content: center;
  margin: 20px;
}